body {background-color: lightblue}
.jumbotron{background-color: lightcoral;}

#textarea{background-color: lightslategray;}
#textarea12{background-color: red;}
#textarea1{background-color:green}
button{color:black}
button {background-color: rgba(31, 31, 182, 0.938);}
#textarea{color: black;}
#textareas12{color:black}
#textarea1{color:black}